body {
    font-family: 'Montserrat', sans-serif;
    /* background:rgb(34, 34, 65); */
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.content {
    width: 90%;
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
}

h1, h2 {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    color: orangered;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

h3 {
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 5px 20px;
}

.activity-container {
    display: border-box;
    border: 6px dotted orangered;
    background: #e7e7e7;
    border-radius: 13px;
    position: relative;
    margin: 50px; 
}

#activity-btn {
    width: 150px;
    height: 150px;
    border:none;
    border-radius: 50%;
    background: orangered;
    color: #e7e7e7;
    margin: 3rem auto;
    font-size: 3rem;
    padding: 20px;
    letter-spacing: 1px;
    font-weight: 700; 
} 

#activity-btn:hover {
    background: rgb(118, 32, 1);
}

@media screen and (min-width: 800px){
    .content {
        width: 60%;
    }

    h1 {
        font-size: 4rem;
    }

    h2, h3 {
        font-size: 3rem;
    }

}